<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RobVegaTec/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Materia: Ciencia y analítica de datos

Nombre del alumno: Roberto Vega Alanis

Matrícula: A01378921

# Módulo 1

## Your First Program

In [ ]:
# This is a comment example: print Hello Python 101 
print('Hello Python 101')

Hello Python 101

In [ ]:
# Questinon 1: Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement.
print("Hello\nWorld!")

Hello
World!

In [ ]:
# Question 2: What is the output of executing the following statement: # print('Hello World!')?
# print('Hello World!')
# There is no output as it is a comment

## Types

In [ ]:
# Question 1: What is the type of the following: int(1.0)?
type(int(1.0))

int

In [ ]:
# Question 2: Enter the code to convert the number 1 to a Boolean.
bool(1)

True

In [ ]:
# Discussion: My contribution

"""
bool() effect in numbers
discusión publicada hace hace menos de un minuto por Rob-Vega

Note the following; bool() function will always be True for any int or number except for 0:

bool(10) --> True

bool(1.1) --> True

bool(-10) --> True

bool(-1.1) --> True

bool(0) --> True
"""

'\nbool() effect in numbers\ndiscusión publicada hace hace menos de un minuto por Rob-Vega\n\nNote the following; bool() function will always be True for any int or number except for 0:\n\nbool(10) --> True\n\nbool(1.1) --> True\n\nbool(-10) --> True\n\nbool(-1.1) --> True\n\nbool(0) --> True\n'

## Expressions and Variables

Expression = operation
oreand:numbers 
operators: + - * % /

// = int division

Operation orders

Variables --> to assign values to n object

use a meaninful name for variables

## String Operations


\ escape sequences
r to cnsider the backslash as an element

Sequence methods:

String methods:

upper()

replace(target,replace_element)

find(substring) --> first index of the substr in string

In [ ]:
# Question 1: 
"""
Consider the following string:

Numbers = "0123456"
How would you obtain the even elements?
"""
Numbers = "0123456"
Numbers[::2]

'0246'

Note: if .find() is not able to find the vaue it retreives -1

If you want to print a back slash with r you must leava a space after the \ (or any other character)

In [ ]:
Numbers[1::2]

'135'

## Review Questions

In [ ]:
# Question 1: What is the result of the following operation in Python:

3 + 2 * 2

7

In [ ]:
# Question 2: In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = 'Lizz'
name[0:2]

'Li'

In [ ]:
# Question 3: In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var = '01234567'
print(var[::2])

0246

In [ ]:
# QUestion 4: In Python, what is the result of the following operation '1'+'2'?
'1' + '2'

'12'

In [ ]:
# Question 5: Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = 'hello'
myvar.upper()

'HELLO'

# Módulo 2

## List and Tuples

Compound objects

Tuple:
* can have heterogeneous elements
* SELECT the last element x[-1] OR 
* slicing
* len()
* immutable --> we cannot hange them: x[2] = 1 WRONG!
* nesting: x[1][2][3] and so on...

Lists:
* CAN have HETEROGENEOUS elements
* mutable --> we cannot hange them: x[2] = 1 CORRECT!
  * .extend --> adds elements of a list at th end of another
  * .append --> adds lists or whatever be included as a new element of the first list
  * del(x[n]) --> deletes the element
* .split("<delimiter>") --> string to list
* Referencing the same object: aliasing
A = B, if change A, we change B as a side effect
* Copy: B = A[:]

In [ ]:
# Question 1: How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.
A=(0,1,2,3)

A[-1]
A[3]

3

In [ ]:
# Question 2:
"""
Consider the list: B=["a","b","c"].

What is the result of the following B[1:]?
"""

B=["a","b","c"]
B[1:]

['b', 'c']

## Sets

Sets:
* are type of collections
* UNORDERED
* only UNIQUE elements
* {}
* you can input a list and it will delete duplicates
* .add(<element>) --> add a new element
* .remove(<element>) --> remove element
* in --> evaluates if an item is in the set
* INTERSECTION of sets: &
* UNION of sets: .union()
* SUBSET: issubset() --> (1 is subset of 2)

ALL operations have MEMORY!!! (no assign is needed,

i.e x = x.add('z') WRONG!!!

x.add('z') CORRECT!))

In [ ]:
# Question 1: What is the result of the following lines of code:

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
# Question 2: What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

S & U

{'A', 'C'}

## Dictionaries

* type of collection
* has keys and values
* {key:value}  (ALWAYS: 1st (at left) keys, 2nd (at right) values)
  * key is IMMUTABLE
* x[key] --> value
* create: x[new_key] = value
* in searches for KEYS
* x.keys()
* x.values()

In [ ]:
# Question 1: 
"""
Consider the following dictionary:

D = {'a':0,'b':1,'c':2}

What is the result of the following: D.values()?
"""
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [ ]:
# Question 2: 
"""
Consider the following dictionary:

D = {'a':0,'b':1,'c':2}
What is the output of the following D['b']?
"""
D = {'a':0,'b':1,'c':2}
D['b']

1

## Review Questions

In [ ]:
# Question 1: What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')
A[0]

'a'

In [ ]:
# Question 2: After applying the following method, L.append(['a','b']), the following list will only be one element longer.
True

True

In [ ]:
# Question 3: How many duplicate elements can you have in a set?
print('0. You can only have one unique element in a set.')

0. You can only have one unique element in a set.

In [ ]:
# Question 4:
"""
Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?
"""

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict['D']

(4, 4, 4)

In [ ]:
# Question 5: What is an important difference between lists and tuples?
print('Lists are mutable, tuples are not.')

Lists are mutable, tuples are not.

#Módulo 3

##Conditions and Brancing

Copmparison Operators
Result is a bool
* ==
* \>
* \>=
* !=

Can be used for numbers and strings

Branching
* if ---> code just executed if condition is True, then continue
* if else --> 1 code just executed if condition is True, ese other one is executed
* elseif --> allows tp check additional conditions if the preceeding condition is false. ALLOWS to execuet an especial condition ONLY if 1st condition is FALSE and teh elif is TRUE

Logic operators
bool --> bool
* not
* or
* and

In [ ]:
# Question 1: Select the values of i that produces a True for the following:

# i != 0

#1
#-1
#100000000

In [ ]:
# Question 2: What is the output of the following:

x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.")

This is a.

## Loops

range()
* range(#) --> if +, sequence generates number from 0 to #
* range(m,n) --> if n > m, list m to n-1
* Python 3 WON't create EXPLICITLY the list
*NOTE: if you want to make backwards count you must include -1 as a 3rd parameter

---

for
* loop a certain amount of times (until all elements of iterable are finished)
* performs a task over and over
* applicable to itarate tuples, lists
** enumerate --> adds an index to elements of a list

---

while
* loop only while a condition is met
* condition variable should me modified inside the while loop

In [ ]:
# Personal test of range
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Question 1: What is the output of the following lines of code:

A=[3,4,5]

for a in A:

  print(a)

3
4
5

In [ ]:
# Question 2: What is the output of the following lines of code:

x=3

y=1

while(y!=x):

  print(y)

  y=y+1

1
2

## Functions

Piece of code that can be called many times

Built-in funcitons:
* len --> # of elements of an object (string, list, typle, set)
* sort --> sorted(list) --> CREATES a NEW list
* sorted --> list.sort() MODIFIES existing list


---

How to create our own function:

def func_name(attribute):
  
  """
  documentation
  """

  \<actions>

  return output

---

Multiple parameters:

def func(parameter1, parameter2):
  return out1, out 2

---

Useless function:

def func():
  
  pass

---

Collecting arguments: *arg
* allows a VARIABLE # of elements

---
Scope of a variable
It is the part of the code WHERE VARIABLE is ACESSIBLE
* GLOBAL --> variable accessible everywhere (defined OUTSIDE EVERYTHING)
* LOCAL --> INSIDE a function (they die when function finishes)
* Variables inside the global scope can have the same name as variables in the local scope with no conflict.
* "If a variable is not defined within a function, Python will check the global scope."
* global var --> allows you to CREATE/MODIFY GLOBAL variables INSIDE a function

In [ ]:
# Test of the notes
def add(x):
  y = x+1
  return y

x = 1
y = add(x)


print(x,y)

1 2

In [ ]:
# Test of the notes
def add(ñ):
  global x
  x = 3
  y = x+ñ
  return y

x = 1
y = add(x)


print(x,y)

3 4

In [ ]:
# Questin 1: What is the value of c after the following block of code is run ?

a=1

def add(b):

  return a+b

c=add(10)
c

11

In [ ]:
# Question 2: What is the value of c after the following block of code is run with proper numerical input?

def f(*x):

 return sum(x)

# Return the total of a variable amount of parameters.

## Object and Classes

Python has many data types:
* int
* float
* string
* list
* dictionary
* bool

== object, whi has:
* type
* blueprint (internal data representation)
* methods (procedures)

An OBJECT is an INSTANCE of a TYPE

type() --> tells you object type

---

Method == FUNCTION that every instance hav in coomon
it is HOW yo interact with data


---
Defining classes
* class class_name(parent_class): # class definition
* Attributes:

  def \__init__(self,radius,color): #attributes used to ninitialize the instance of the class

    >self.radius = radius;
    
    >self.color = color;

* \__init__ == constructur == special function that TELLS Python you are CREATINGa NEW CLASS.
* self == referst to the newly created INSTANCE of the CLASS == box containing all ATTRIBUTES of the object
* changing attribute object.attribute_name = value

---
Methods

Functions that interact with attributes (changing/using them)

def add_radius(self,r):
  > self.radius = self.radius + r

  > return (slef.radius)

  ---

  dir() --> name methods & attributes of a class

In [ ]:
# Question 1: Using the Class Car in the lab, create a Car object with the following attributes:

make="Honda"

model="Accord"

color="blue"

# Unable to open this particular lab

In [ ]:
# Question 2: From the lab, how would you change the data attribute owner_number ?

# Unable to open this particular lab

###Lab: Class creation

You have been recruited by your friend, a linguistics enthusiast, to create a utility tool that can perform analysis on a given piece of text. Complete the class
'analysedText' with the following methods -

<ul>
    <li> Constructor (__init__) - This method should take the argument <code>text</code>, make it lower case, and remove all punctuation.  Assume only the following punctuation is used: period (.), exclamation mark (!), comma (,) and question mark (?). Assign this newly formatted text to a new attribute called <code>fmtText</code>.
    <li> freqAll - This method should create and <strong>return</strong> dictionary of all unique words in the text, along with the number of times they occur in the text. Each key in the dictionary should be the unique word appearing in the text and the associated value should be the number of times it occurs in the text. Create this dictionary from the <code>fmtText</code> attribute.
    <li> freqOf - This method should take a word as an argument and <strong>return</strong> the number of occurrences of that word in <code>fmtText</code>.
</ul>
 The skeleton code has been given to you. Docstrings can be ignored for the purpose of the exercise. <br>
 <i> Hint: Some useful functions are <code>replace()</code>, <code>lower()</code>, <code>split()</code>, <code>count()</code> </i><br>

In [ ]:
# Function I created
class analysedText(object):
    
    def __init__ (self, text):
        
        self.fmtText = text.lower().replace('.','').replace(',','').replace('?','').replace('!','')

        # TODO: Remove the punctuation from <text> and make it lower case.
        

        # TODO: Assign the formatted text to a new attribute called "fmtText"
        
        pass 
    
    def freqAll(self):    

        # TODO: Split the text into a list of words
        list = self.fmtText.split(' ')

        # TODO: Create a dictionary with the unique words in the text as keys
        unique = set(list)
        
        # and the number of times they occur in the text as values
        dict = {x:list.count(x) for x in unique}
        
        return dict # return the created dictionary
    
    def freqOf(self, word):
        dict = self.freqAll()
        # TODO: return the number of occurrences of <word> in <fmtText>
        if word in dict:
            y = dict[word]
        else:
            y = 0
            
        return y

### Lab: Exception handling

Examples:
* ZeroDivisionError occurs when you try to divide by zero.
* NameError -- in this case, it means that you tried to use the variable a when it was not defined.
Try-except:
* 
Specific try-except:
* allows you to catch certain exceptions and also execute certain code depending on the exception.
* hamdling 2 type of errors the same way: except (ZeroDivisionError, NameError):
* you can also have an empty except at the end to catch an unexpected exception:
* else allows one to check if there was no exception when executing the try block. This is useful when we want to execute something only if there were no errors.
* finally allows us to always execute something even if there is an exception or not. This is usually used to signify the end of the try except.

## Review Questions

In [ ]:
# Question 1: What is the output of the following lines of code:

x=1

if(x!=1):

  print('Hello')

else:

  print('Hi')

print('Mike')

Hi
Mike

In [ ]:
# Question 2: What is the output of the following few lines of code?

A = ['1','2','3']

for a in A:

  print(2*a)

11
22
33

In [ ]:
# Question 3: Consider the function Delta, when will the function return a value of 1

def Delta(x):

  if x==0:

    y=1;

  else:

    y=0;

  return(y)

print(Delta(0))

1

In [ ]:
# Question 4: What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.

#B.sort()

In [ ]:
# Question 5: What are the keys of the following dictionary: {'a':1,'b':2}?
#a,b

# Módulo 4

## Reading Files with Open

Objective: write & read txt file
* open function: open("filepath/filename","<\<mode>>")
> * mode: r = reading, w = writing, a = apending, wb = web page
*  Attrributes:

  > .name --> get name of file

  > .mode --> get the mode of the file
    > .closed

* ALWAYS have to close the file at the END: <file>.close()

* Alterative: with open("\<filepath>/\<filename>","<\<mode>>") as \<alias>:
> It runs all inside tyhe indent after the with statement and close when finishes

* .read() --> stores the content in a file

* redlines(n) --> output every lien as an element of a list (IT IS AN ITERATOR)
> Args: n = number of characters to read AS a line. IT WILL retreive the folowing set of characters after the last readlines call

## Writing Files with Open

* Create a file: open("filepath/filename","w") if you AD data with this YOU WILL DELETE TEH ORIGINAL FILE
* write a line in file file_object.write("New line content")
* open("filepath/filename","a") WILL NOT create a NEW file, just add lines
* Copy a file int another:

    with open("Example1.txt","r") as readfile:
        with open (Example3.txt","w") as writefile:
          for line in readfile:
            writefile.write(line)

---
Additional modes:
+ r+ : Reading and writing. Cannot truncate the file.
+ w+ : Writing and reading. Truncates the file.
+ a+ : Appending and Reading. Creates a new file, if none exists.

---
* read() and write() work at a certain location of the file
* openning with w is like: open, put cursor at the beginning , delete all
* Methods to tell where is the cursor:
  * tell() return current position in bytes
  * seek(offset,from)  CHANGES the current position offset bytes from reference (current position, 0,1,2,3,-1...)
* To work with a file on existing data, use r+ and a+.
  * r+ has .truncate() to DELETE everything AFTER the cursor position

Excercise:

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.

In [ ]:
# Excercise:
"""
Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.
"""

In [ ]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

Now that you've run the prerequisite code cell above, which prepared the files for this exercise, you are ready to move on to the implementation.

Exercise: Implement the cleanFiles function in the code cell below.

In [ ]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    """
    # TODO: Open the currentMem file as in r+ mode
    with open(currentMem,'r+') as readfile:
        #TODO: Open the exMem file in a+ mode
          with open(exMem, 'a+') as writefile:

        #TODO: Read each member in the currentMem (1 member per row) file into a list.
            count = 0
            for line in readfile.readlines():
              l = line.split()
              if "no" in l[2]:
                writefile.write(line)
              else:
                count += 1
                readfile.write(line)

            
          readfile.seek(0)
          readfile.writelines(readfile.readlines()[len(readfile.readlines())-count:])
          readfile.truncate() 
            
        # Hint: Recall that the first line in the file is the header.

        #TODO: iterate through the members and create a new list of the innactive members

        # Go to the beginning of the currentMem file
        # TODO: Iterate through the members list. 
        # If a member is inactive, add them to exMem, otherwise write them into currentMem
        """
    with open(currentMem,'r+') as writeFile: 
      with open(exMem,'a+') as appendFile:
          #get the data
          writeFile.seek(0)
          members = writeFile.readlines()
          #remove header
          header = members[0]
          members.pop(0)
              
          inactive = [member for member in members if ('no' in member)]
          '''
          The above is the same as 

          for member in members:
          if 'no' in member:
              inactive.append(member)
          '''
          #go to the beginning of the write file
          writeFile.seek(0) 
          writeFile.write(header)
          for member in members:
              if (member in inactive):
                  appendFile.write(member)
              else:
                  writeFile.write(member)      
          writeFile.truncate()
        
    
    #pass # Remove this line when done implementation


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    55093      2020-4-6     yes
    37844      2015-12-19   yes
    86921      2020-9-20    yes
    11296      2015-1-25    yes
    16578      2015-3-20    yes
    34290      2016-1-5     yes
    70457      2015-7-25    yes

Inactive Members:


Membership No  Date Joined  Active
    88074      2017-3-7     no
    75732      2018-2-13    no
    48138      2020-11-7    no
    70628      2016-5-22    no
    85315      2019-3-4     no
    15487      2016-7-18    no
    19740      2019-11-8    no
    97632      2017-2-8     no
    16525      2018-7-6     no
    80927      2016-7-5     no
    17675      2019-1-12    no
    56200      2017-6-17    no
    46806      2020-11-18   no
    71152      2017-5-14    no
    65623      2018-2-6     no
    28035      2015-3-13    no

The code cell below is to verify your solution. Please do not modify the code and run it to test your implementation of cleanFiles.

In [ ]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

## Loading Data with Pandas

* import pandas
* pandas.read_csv(csv_path)
* alias import pandas as pd --> pd.read_csv(csv_path)
*pd.read_csv(excel_path)
* pd.read_*** GENERATED a DataFrame= table with rows and columns
* Create a DataFrame form a Dictionary str:[]: pd.DataFrame({'col1':[1,2,3,4,...],'col2':[#,#,#,#,...]})
  * str = headers, [] = rows values
* select a DataFRame column: df[['col1']]
* select multiple columns from DataFrame: df[['col1','col2',...]]
* ix --> SUBSET a DataFrame with NUMBERS & NAMES
  *df.ix[0,0], df.ix[0,'Artist']
  *SLICE: df.ix[:2,'Artist':'Released']

In [ ]:
# Question 1: Consider the dataframe df. How would you find the element in the second row and first column?
#df.ix[1,0] or df.iloc[1,0]

In [ ]:
# Question 2: Will the following code run?

import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

## Working with and Saving Data with Pandas

* unique --> get unique values of a column: df['col1'].unique()
* filter: df[df bool condition] Example: df[df[col] > #]
* df.to_csv("\<csv_name>.csv")

In [ ]:
# Question 1: Consider the dataframe: df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

#What type does the following return: df['a']==1 ?
import pandas as pd
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [ ]:
# Question 2: What task does the following method perform: df.to_csv("file.csv")?
# R= Save a dataframe to a csv file.

## Review Questions

In [ ]:
# Question 1: What do the following lines of code do?
"""
with open("Example1.txt","r") as file1:

  FileContent=file1.readlines()

  print(FileContent)

"""
# R= Read the file "Example1.txt".

'\nwith open("Example1.txt","r") as file1:\n\n  FileContent=file1.readlines()\n\n  print(FileContent)\n\n'

In [ ]:
# Question 2: What do the following lines of code do?
"""
with open("Example2.txt","w") as writefile:

  writefile.write("This is line A\n")

  writefile.write("This is line B\n")
"""
# R= Write to the file "Example2.txt".

'\nwith open("Example2.txt","w") as writefile:\n\n  writefile.write("This is line A\n")\n\n  writefile.write("This is line B\n")\n'

In [ ]:
# Question 3: What do the following lines of code do?
"""
with open("Example3.txt","a") as file1:

  file1.write("This is line C\n")
"""
# R= Append the file "Example3.txt".

'\nwith open("Example3.txt","a") as file1:\n\n  file1.write("This is line C\n")\n'

In [ ]:
# Question 4: What is the result of applying the following method df.head() to the dataframe "df"?
# R= Prints the first 5 rows of the dataframe.

# Módulo 5

## Numpy 1D Arrays

Numpy
* for scientific computing
* speed & memory
* basis of pandas

---
* Is similar to a list but...
  * same type of elements (NUMBERS)
* import numpy as np
* Create a numpy array form list: np.array([1,2,3,....])
* type: numpy.ndarray
* dtype --> gives the datatype of elements of array
* Attributes:
  * .size = # of elements
  * .ndim = # dimensions / the rank
  * .shape = tuple of size of each dimension

---

Indexing & Slicing
* 1st element c[0]
* c[1:4] (we don't count te last number)
* MULTIPLE ASSIGNMENT: c[1:3] = 300, 400

---

Basic Operations
* Faster and req less memory
* Vector adition & Substraction u = [1,0], v = [0,1]
  * In lists:

    for n,m zip(u,v):

        z.appen(n+m)

  * Numpy: np.array(u) + np.array(v)
  * Substraction is the mae with negative value
* Scalar multiplication
  * Normal:
    
    for n in u:
    
        z.append(2*n)
  * Numpy: 2*np.array(u)
* Vector multiplication
  * Normal:
    
    for n,m in zip(u,v):
    
        z.append(n*m)
  * Numpy: np.array(u)*np.array(v)

* Dot product = single # = represents HOW similar 2 vectors are
  *np.dot(u,v)
*BROADCASTING: applying an operation to ALL elements of th array
  * u = np.array([1,2,3,4]) --> u+1 --> 2,3,4,5

---
Universal Functions
* mean() --> average
* max() --> larget value
* .pi
*.sin() --> apply sin to each element
* linespace(start, end, num= # samples) --> EVENLY SPACED numbers inside an interval
* import matplotlib.pyplot as plt
* %matplotlib inline --> display the plot

In [ ]:
# Question 1: What is the result of the following operation: np.array([1,-1])*np.array([1,1])?
import numpy as np
np.array([1,-1])*np.array([1,1])

array([ 1, -1])

In [ ]:
# Question 2: What is the result of the following operation: np.dot(np.array([1,-1]),np.array([1,1]))?
np.dot(np.array([1,-1]),np.array([1,1]))

0

### Lab

In [ ]:
a = np.array([0, 1, 2, 3, 4])

In [ ]:
type(a)

numpy.ndarray

In [ ]:
a.dtype

dtype('int64')

## Numpy 2D Arrays

## Simple APIs - Part 1

## Simple APIs - Part 2

## Lab - HTTP and Requests