<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RobVegaTec/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modulo 1

## Your First Program

In [4]:
# This is a comment example: print Hello Python 101 
print('Hello Python 101')

Hello Python 101

In [6]:
# Questinon 1: Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement.
print("Hello\nWorld!")

Hello
World!

In [8]:
# Question 2: What is the output of executing the following statement: # print('Hello World!')?
# print('Hello World!')
# There is no output as it is a comment

## Types

In [9]:
# Question 1: What is the type of the following: int(1.0)?
type(int(1.0))

int

In [10]:
# Question 2: Enter the code to convert the number 1 to a Boolean.
bool(1)

True

In [17]:
# Discussion: My contribution

"""
bool() effect in numbers
discusiÃ³n publicada hace hace menos de un minuto por Rob-Vega

Note the following; bool() function will always be True for any int or number except for 0:

bool(10) --> True

bool(1.1) --> True

bool(-10) --> True

bool(-1.1) --> True

bool(0) --> True
"""

True

## Expressions and Variables

Expression = operation
oreand:numbers 
operators: + - * % /

// = int division

Operation orders

Variables --> to assign values to n object

use a meaninful name for variables

## String Operations


\ escape sequences
r to cnsider the backslash as an element

Sequence methods:

String methods:

upper()

replace(target,replace_element)

find(substring) --> first index of the substr in string

In [19]:
# Question 1: 
"""
Consider the following string:

Numbers = "0123456"
How would you obtain the even elements?
"""
Numbers = "0123456"
Numbers[::2]

'0246'

Note: if .find() is not able to find the vaue it retreives -1

If you want to print a back slash with r you must leava a space after the \ (or any other character)

In [20]:
Numbers[1::2]

'135'

## Review Questions

In [21]:
# Question 1: What is the result of the following operation in Python:

3 + 2 * 2

7

In [23]:
# Question 2: In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = 'Lizz'
name[0:2]

'Li'

In [24]:
# Question 3: In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var = '01234567'
print(var[::2])

0246

In [25]:
# QUestion 4: In Python, what is the result of the following operation '1'+'2'?
'1' + '2'

'12'

In [26]:
# Question 5: Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = 'hello'
myvar.upper()

'HELLO'

# MÃ³dulo 2

## List and Tuples

Tuple:
* can have heterogeneous elements
* SELECT the last element x[-1] OR 
* slicing
* len()
* immutable --> we cannot hange them: x[2] = 1 WRONG!
* nesting: x[1][2][3] and so on...

Lists:
* CAN have HETEROGENEOUS elements
* mutable --> we cannot hange them: x[2] = 1 CORRECT!
  * .extend --> adds elements of a list at th end of another
  * .append --> adds lists or whatever be included as a new element of the first list
  * del(x[n]) --> deletes the element
* .split("<delimiter>") --> string to list
* Referencing the same object: aliasing
A = B, if change A, we change B as a side effect
* Copy: B = A[:]

In [30]:
# Question 1: How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.
A=(0,1,2,3)

A[-1]
A[3]

3

In [32]:
# Question 2:
"""
Consider the list: B=["a","b","c"].

What is the result of the following B[1:]?
"""

B=["a","b","c"]
B[1:]

['b', 'c']