<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RobVegaTec/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Módulo 1

## Your First Program

In [ ]:
# This is a comment example: print Hello Python 101 
print('Hello Python 101')

Hello Python 101

In [ ]:
# Questinon 1: Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement.
print("Hello\nWorld!")

Hello
World!

In [ ]:
# Question 2: What is the output of executing the following statement: # print('Hello World!')?
# print('Hello World!')
# There is no output as it is a comment

## Types

In [ ]:
# Question 1: What is the type of the following: int(1.0)?
type(int(1.0))

int

In [ ]:
# Question 2: Enter the code to convert the number 1 to a Boolean.
bool(1)

True

In [ ]:
# Discussion: My contribution

"""
bool() effect in numbers
discusión publicada hace hace menos de un minuto por Rob-Vega

Note the following; bool() function will always be True for any int or number except for 0:

bool(10) --> True

bool(1.1) --> True

bool(-10) --> True

bool(-1.1) --> True

bool(0) --> True
"""

True

## Expressions and Variables

Expression = operation
oreand:numbers 
operators: + - * % /

// = int division

Operation orders

Variables --> to assign values to n object

use a meaninful name for variables

## String Operations


\ escape sequences
r to cnsider the backslash as an element

Sequence methods:

String methods:

upper()

replace(target,replace_element)

find(substring) --> first index of the substr in string

In [ ]:
# Question 1: 
"""
Consider the following string:

Numbers = "0123456"
How would you obtain the even elements?
"""
Numbers = "0123456"
Numbers[::2]

'0246'

Note: if .find() is not able to find the vaue it retreives -1

If you want to print a back slash with r you must leava a space after the \ (or any other character)

In [ ]:
Numbers[1::2]

'135'

## Review Questions

In [ ]:
# Question 1: What is the result of the following operation in Python:

3 + 2 * 2

7

In [ ]:
# Question 2: In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = 'Lizz'
name[0:2]

'Li'

In [ ]:
# Question 3: In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var = '01234567'
print(var[::2])

0246

In [ ]:
# QUestion 4: In Python, what is the result of the following operation '1'+'2'?
'1' + '2'

'12'

In [ ]:
# Question 5: Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = 'hello'
myvar.upper()

'HELLO'

# Módulo 2

## List and Tuples

Compound objects

Tuple:
* can have heterogeneous elements
* SELECT the last element x[-1] OR 
* slicing
* len()
* immutable --> we cannot hange them: x[2] = 1 WRONG!
* nesting: x[1][2][3] and so on...

Lists:
* CAN have HETEROGENEOUS elements
* mutable --> we cannot hange them: x[2] = 1 CORRECT!
  * .extend --> adds elements of a list at th end of another
  * .append --> adds lists or whatever be included as a new element of the first list
  * del(x[n]) --> deletes the element
* .split("<delimiter>") --> string to list
* Referencing the same object: aliasing
A = B, if change A, we change B as a side effect
* Copy: B = A[:]

In [ ]:
# Question 1: How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.
A=(0,1,2,3)

A[-1]
A[3]

3

In [ ]:
# Question 2:
"""
Consider the list: B=["a","b","c"].

What is the result of the following B[1:]?
"""

B=["a","b","c"]
B[1:]

['b', 'c']

## Sets

Sets:
* are type of collections
* UNORDERED
* only UNIQUE elements
* {}
* you can input a list and it will delete duplicates
* .add(<element>) --> add a new element
* .remove(<element>) --> remove element
* in --> evaluates if an item is in the set
* INTERSECTION of sets: &
* UNION of sets: .union()
* SUBSET: issubset() --> (1 is subset of 2)

ALL operations have MEMORY!!! (no assign is needed,

i.e x = x.add('z') WRONG!!!

x.add('z') CORRECT!))

In [ ]:
# Question 1: What is the result of the following lines of code:

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
# Question 2: What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

S & U

{'A', 'C'}

## Dictionaries

* type of collection
* has keys and values
* {key:value}  (ALWAYS: 1st (at left) keys, 2nd (at right) values)
  * key is IMMUTABLE
* x[key] --> value
* create: x[new_key] = value
* in searches for KEYS
* x.keys()
* x.values()

In [ ]:
# Question 1: 
"""
Consider the following dictionary:

D = {'a':0,'b':1,'c':2}

What is the result of the following: D.values()?
"""
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [ ]:
# Question 2: 
"""
Consider the following dictionary:

D = {'a':0,'b':1,'c':2}
What is the output of the following D['b']?
"""
D = {'a':0,'b':1,'c':2}
D['b']

1

## Review Questions

In [ ]:
# Question 1: What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')
A[0]

'a'

In [ ]:
# Question 2: After applying the following method, L.append(['a','b']), the following list will only be one element longer.
True

True

In [ ]:
# Question 3: How many duplicate elements can you have in a set?
print('0. You can only have one unique element in a set.')

0. You can only have one unique element in a set.

In [ ]:
# Question 4:
"""
Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?
"""

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict['D']

(4, 4, 4)

In [ ]:
# Question 5: What is an important difference between lists and tuples?
print('Lists are mutable, tuples are not.')

Lists are mutable, tuples are not.

#Módulo 3

##Conditions and Brancing

Copmparison Operators
Result is a bool
* ==
* \>
* \>=
* !=

Can be used for numbers and strings

Branching
* if ---> code just executed if condition is True, then continue
* if else --> 1 code just executed if condition is True, ese other one is executed
* elseif --> allows tp check additional conditions if the preceeding condition is false. ALLOWS to execuet an especial condition ONLY if 1st condition is FALSE and teh elif is TRUE

Logic operators
bool --> bool
* not
* or
* and

In [8]:
# Question 1: Select the values of i that produces a True for the following:

# i != 0

#1
#-1
#100000000

In [3]:
# Question 2: What is the output of the following:

x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.")

This is a.

## Loops

range()
* range(#) --> if +, sequence generates number from 0 to #
* range(m,n) --> if n > m, list m to n-1
* Python 3 WON't create EXPLICITLY the list
*NOTE: if you want to make backwards count you must include -1 as a 3rd parameter

---

for
* loop a certain amount of times (until all elements of iterable are finished)
* performs a task over and over
* applicable to itarate tuples, lists
** enumerate --> adds an index to elements of a list

---

while
* loop only while a condition is met
* condition variable should me modified inside the while loop

In [21]:
# Personal test of range
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [6]:
# Question 1: What is the output of the following lines of code:

A=[3,4,5]

for a in A:

  print(a)

3
4
5

In [7]:
# Question 2: What is the output of the following lines of code:

x=3

y=1

while(y!=x):

  print(y)

  y=y+1

1
2

## Functions

Piece of code that can be called many times

Built-in funcitons:
* len --> # of elements of an object (string, list, typle, set)
* sort --> sorted(list) --> CREATES a NEW list
* sorted --> list.sort() MODIFIES existing list


---

How to create our own function:

def func_name(attribute):
  
  """
  documentation
  """

  \<actions>

  return output

---

Multiple parameters:

def func(parameter1, parameter2):
  return out1, out 2

---

Useless function:

def func():
  
  pass

---

Collecting arguments: *arg
* allows a VARIABLE # of elements

---
Scope of a variable
It is the part of the code WHERE VARIABLE is ACESSIBLE
* GLOBAL --> variable accessible everywhere (defined OUTSIDE EVERYTHING)
* LOCAL --> INSIDE a function (they die when function finishes)
* Variables inside the global scope can have the same name as variables in the local scope with no conflict.
* "If a variable is not defined within a function, Python will check the global scope."
* global var --> allows you to CREATE/MODIFY GLOBAL variables INSIDE a function

In [10]:
# Test of the notes
def add(x):
  y = x+1
  return y

x = 1
y = add(x)


print(x,y)

1 2

In [17]:
# Test of the notes
def add(ñ):
  global x
  x = 3
  y = x+ñ
  return y

x = 1
y = add(x)


print(x,y)

3 4

In [13]:
# Questin 1: What is the value of c after the following block of code is run ?

a=1

def add(b):

  return a+b

c=add(10)
c

11

In [14]:
# Question 2: What is the value of c after the following block of code is run with proper numerical input?

def f(*x):

 return sum(x)

# Return the total of a variable amount of parameters.

## Object and Classes

Python has many data types:
* int
* float
* string
* list
* dictionary
* bool

== object, whi has:
* type
* blueprint (internal data representation)
* methods (procedures)

An OBJECT is an INSTANCE of a TYPE

type() --> tells you object type

---

Method == FUNCTION that every instance hav in coomon
it is HOW yo interact with data


---
Defining classes
* class class_name(parent_class): # class definition
* Attributes:

  def \__init__(self,radius,color): #attributes used to ninitialize the instance of the class

    >self.radius = radius;
    
    >self.color = color;

* \__init__ == constructur == special function that TELLS Python you are CREATINGa NEW CLASS.
* self == referst to the newly created INSTANCE of the CLASS == box containing all ATTRIBUTES of the object
* changing attribute object.attribute_name = value

---
Methods

Functions that interact with attributes (changing/using them)

def add_radius(self,r):
  > self.radius = self.radius + r

  > return (slef.radius)

  ---

  dir() --> name methods & attributes of a class

In [ ]:
# Question 1: Using the Class Car in the lab, create a Car object with the following attributes:

make="Honda"

model="Accord"

color="blue"

# Unable to open this particular lab

In [ ]:
# Question 2: From the lab, how would you change the data attribute owner_number ?

# Unable to open this particular lab

###Lab: Class creation

You have been recruited by your friend, a linguistics enthusiast, to create a utility tool that can perform analysis on a given piece of text. Complete the class
'analysedText' with the following methods -

<ul>
    <li> Constructor (__init__) - This method should take the argument <code>text</code>, make it lower case, and remove all punctuation.  Assume only the following punctuation is used: period (.), exclamation mark (!), comma (,) and question mark (?). Assign this newly formatted text to a new attribute called <code>fmtText</code>.
    <li> freqAll - This method should create and <strong>return</strong> dictionary of all unique words in the text, along with the number of times they occur in the text. Each key in the dictionary should be the unique word appearing in the text and the associated value should be the number of times it occurs in the text. Create this dictionary from the <code>fmtText</code> attribute.
    <li> freqOf - This method should take a word as an argument and <strong>return</strong> the number of occurrences of that word in <code>fmtText</code>.
</ul>
 The skeleton code has been given to you. Docstrings can be ignored for the purpose of the exercise. <br>
 <i> Hint: Some useful functions are <code>replace()</code>, <code>lower()</code>, <code>split()</code>, <code>count()</code> </i><br>

In [ ]:
# Function I created
class analysedText(object):
    
    def __init__ (self, text):
        
        self.fmtText = text.lower().replace('.','').replace(',','').replace('?','').replace('!','')

        # TODO: Remove the punctuation from <text> and make it lower case.
        

        # TODO: Assign the formatted text to a new attribute called "fmtText"
        
        pass 
    
    def freqAll(self):    

        # TODO: Split the text into a list of words
        list = self.fmtText.split(' ')

        # TODO: Create a dictionary with the unique words in the text as keys
        unique = set(list)
        
        # and the number of times they occur in the text as values
        dict = {x:list.count(x) for x in unique}
        
        return dict # return the created dictionary
    
    def freqOf(self, word):
        dict = self.freqAll()
        # TODO: return the number of occurrences of <word> in <fmtText>
        if word in dict:
            y = dict[word]
        else:
            y = 0
            
        return y

### Lab: Exception handling

Examples:
* ZeroDivisionError occurs when you try to divide by zero.
* NameError -- in this case, it means that you tried to use the variable a when it was not defined.
Try-except:
* 
Specific try-except:
* allows you to catch certain exceptions and also execute certain code depending on the exception.
* hamdling 2 type of errors the same way: except (ZeroDivisionError, NameError):
* you can also have an empty except at the end to catch an unexpected exception:
* else allows one to check if there was no exception when executing the try block. This is useful when we want to execute something only if there were no errors.
* finally allows us to always execute something even if there is an exception or not. This is usually used to signify the end of the try except.

## Review Questions

In [22]:
# Question 1: What is the output of the following lines of code:

x=1

if(x!=1):

  print('Hello')

else:

  print('Hi')

print('Mike')

Hi
Mike

In [23]:
# Question 2: What is the output of the following few lines of code?

A = ['1','2','3']

for a in A:

  print(2*a)

11
22
33

In [25]:
# Question 3: Consider the function Delta, when will the function return a value of 1

def Delta(x):

  if x==0:

    y=1;

  else:

    y=0;

  return(y)

print(Delta(0))

1

In [26]:
# Question 4: What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.

#B.sort()

In [ ]:
# Question 5: What are the keys of the following dictionary: {'a':1,'b':2}?
#a,b