<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-RobVegaTec/blob/main/Semana3_Actividad1_A01378921.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Semana 3 - Actividad 1

![image.png]()

Materia: Ciencia y analtica de datos

Nombre de la actividad: Semana 3 - Actividad 1

Nombre del alumno: Roberto Vega Alanis

Matrcula: A01378921

Fecha: 04 de Octubre de 2022

## Parte 1: Fundamentos de bases de datos

**Instrcciones:**
Revisa la pgina Lecturas del tema 3: Conceptos de almacenamiento y recuperacin de informacin, y describe tus insights o entendimiento de cada uno de los subtemas: (Alrededor de 200 palabras)

Fundamentos de bases de datos y para ciencia de datos.  
Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

### Fundamentos de bases de datos y para ciencia de datos

### Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos

## Parte 2: Seleccin y limpieza de los Datos en Python

**Instrcciones:**

Para este actividad usa el base de datos encontrados por aquiEnlaces a un sitio externo.:  su descripcin aquiEnlaces a un sitio externo.. 

Revisa detenidamente la pgina Ejercicio guiado para: Seleccin y limpieza de los Datos en PythonEnlaces a un sitio externo.
En Google Colab ( = Jupyter notebook, o bien alguna otra IDE de su inters), escribe tu cdigo para realizar la seleccin y limpieza de los datos como se indica en el ejercicio.
Ejecuta tu cdigo.
Explica con tus palabras (documentas las lineas del codigo en celdas del Text) como funciona tu programa indicando lo que realizaste en la programacin, en minimum palabras.

In [6]:
# Importar bases de datos
import pandas as pd
import numpy as np

In [3]:
# Obteniendo link de GitHub con csv de datos
url = 'https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv'

In [5]:
df = pd.read_csv(url)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [52]:
# Revisamos contenido general del dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   X1      30000 non-null  int64
 2   X2      29999 non-null  float64
 3   X3      29998 non-null  float64
 4   X4      29998 non-null  float64
 5   X5      29995 non-null  float64
 6   X6      29997 non-null  float64
 7   X7      29995 non-null  float64
 8   X8      29993 non-null  float64
 9   X9      29991 non-null  float64
 10  X10     29984 non-null  float64
 11  X11     29986 non-null  float64
 12  X12     29989 non-null  float64
 13  X13     29989 non-null  float64
 14  X14     29987 non-null  float64
 15  X15     29985 non-null  float64
 16  X16     29983 non-null  float64
 17  X17     29990 non-null  float64
 18  X18     29992 non-null  float64
 19  X19     29991 non-null  float64
 20  X20     29992 non-null  float64
 21  X21     29989 non-null  float64
 22  X22     29989 non-null  float64
 23  X23     29995 non-null  float64
 24  Y       29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.7 MB

In [57]:
# Analizamos la distribucin de los datos al todos ser numricos
df.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000,...,29958.000000,29958.000000,29958.000000,29958.000000,2.995800e+04,29958.000000,29958.000000,29958.000000,29958.000000,29958.000000
mean,15005.550504,167555.900928,1.604012,1.853094,1.551739,35.483443,-0.017124,-0.134021,-0.166767,-0.221110,...,43279.335370,40328.984578,38889.925763,5664.614460,5.925715e+03,5228.429969,4829.873556,4801.481574,5220.708025,0.221143
std,8654.547473,129737.299088,0.489070,0.790471,0.521952,9.214319,1.123989,1.197171,1.196026,1.168419,...,64364.684347,60826.219326,59582.883301,16568.823518,2.305598e+04,17617.338167,15676.205514,15285.552652,17788.983767,0.415023
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7516.250000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2327.500000,1762.250000,1256.000000,1000.000000,8.352500e+02,390.000000,296.250000,253.250000,118.000000,0.000000
50%,15005.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19037.500000,18104.500000,17067.500000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22497.750000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54551.250000,50220.750000,49234.750000,5007.000000,5.000000e+03,4511.500000,4014.750000,4040.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [9]:
# Verifica si hay registros con al manos un valor vaco
df.isnull().values.any()

True

In [10]:
# Revisamos en cul de las columnas hay valores vacos
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

Se observa que en todas salvo en X1, existen valores vacos

In [13]:
# Cdigo equivalente al anterior de las ltimas 2 celdas

# Algn valor nulo (por lo menos una celda vaca)
print(df.isna().values.any())
# Columnas con valores nulos
print(df.isna().any())

True
ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [50]:
# Contamos cuantos regsitrsos son nulos en cada columna

df[df.isnull().any(axis = 1)].count()

ID     42
X1     42
X2     41
X3     40
X4     40
X5     37
X6     39
X7     37
X8     35
X9     33
X10    26
X11    28
X12    31
X13    31
X14    29
X15    27
X16    25
X17    32
X18    34
X19    33
X20    34
X21    31
X22    31
X23    37
Y      39
dtype: int64

In [51]:
# Proporcin de datos nulos por columna (en escala de 0 a 1)
df[df.isnull().any(axis = 1)].count()/len(df)

ID     0.001400
X1     0.001400
X2     0.001367
X3     0.001333
X4     0.001333
X5     0.001233
X6     0.001300
X7     0.001233
X8     0.001167
X9     0.001100
X10    0.000867
X11    0.000933
X12    0.001033
X13    0.001033
X14    0.000967
X15    0.000900
X16    0.000833
X17    0.001067
X18    0.001133
X19    0.001100
X20    0.001133
X21    0.001033
X22    0.001033
X23    0.001233
Y      0.001300
dtype: float64

In [48]:
# Evaluamos la cantidad de filas que seran afectadas por la eliminacin de datos faltantes
print('Se mantiene el ', str((len(df.dropna())/len(df))*100) + '%', ' de los datos')

Se mantiene el  99.86%  de los datos

Al ser 0.13% la cantidad de los registros que contiene al menos un dato faltante, es probable que la informacin faltante sea por una causa completamente aleatoria (MCAR) y, por lo tanto, la eliminacin por lista sea la solucin ms adecuada.

Sin embargo, antes de proceder a la eliminacin de filas, se decidi analizar las columnas categricas expresadas en valores numricos discretos

In [58]:
# Con base en la metadata, determinamos cuales son variables categricas
columnas_categ = ['X2','X3', 'X4', 'X5']

In [64]:
# Convertimos variables numricas a categricas como corresponde (cambio de tipo de dato)
df_cat = df.copy()
for col in columnas_categ:
  df_cat[col] = df_cat[col].astype('category')
df_cat

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [66]:
# Revisamos la distribucin de los valores categricos a detalle paar X2
df_cat['X2'].value_counts()

2.0    18095
1.0    11863
Name: X2, dtype: int64

La variable X2 (gnero) tiene valores correctos y clases ligerameente desbalanceadas

In [67]:
# Revisamos la distribucin de los valores categricos a detalle paar X3
df_cat['X3'].value_counts()

2.0    14009
1.0    10572
3.0     4909
5.0      280
4.0      123
6.0       51
0.0       14
Name: X3, dtype: int64

Los valores 0, 5 y 6 son valores invlidos para la columna X3 (Educacin), deben tratarse.

In [68]:
# Revisamos la distribucin de los valores categricos a detalle paar X4
df_cat['X4'].value_counts()

2.0    15939
1.0    13643
3.0      322
0.0       54
Name: X4, dtype: int64

Los valores de 0 para la variable X4 (Estado civil) no estn clasificados por lo que no es correcto asignarlos

In [69]:
# Revisamos la distribucin de los valores categricos a detalle paar X5
df_cat['X5'].value_counts()

29.0    1601
27.0    1475
28.0    1408
30.0    1393
26.0    1255
31.0    1216
25.0    1184
34.0    1161
32.0    1156
33.0    1145
24.0    1123
35.0    1113
36.0    1108
37.0    1040
39.0     954
38.0     943
23.0     931
40.0     868
41.0     820
42.0     794
44.0     700
43.0     669
45.0     617
46.0     569
22.0     559
47.0     498
48.0     466
49.0     450
50.0     411
51.0     339
53.0     325
52.0     304
54.0     246
55.0     208
56.0     177
57.0     122
58.0     122
59.0      83
60.0      67
21.0      67
61.0      56
62.0      44
63.0      31
64.0      31
66.0      25
65.0      24
67.0      16
69.0      15
70.0      10
68.0       5
73.0       4
71.0       3
72.0       3
75.0       2
74.0       1
79.0       1
Name: X5, dtype: int64

El rango de valores de X5 (edad) parece correcto. No se requiere procesamiento de esta columna.

Procedemos a la eliminacin de registros con valores errneos al ser minoritarios

In [85]:
# Evaluamos el efecto de la eliminacin de registros invlidos por las clases categricas
df_cat[~df_cat['X3'].isin([0.0,5.0,6.0])]['X3'].value_counts()

2.0    14009
1.0    10572
3.0     4909
4.0      123
0.0        0
5.0        0
6.0        0
Name: X3, dtype: int64

In [86]:
# Quitamos los registros que pertenecen a las clases inexistentes para columna X3
df_cat = df_cat[~df_cat['X3'].isin([0.0,5.0,6.0])]

In [87]:
# Evaluamos el efecto de la eliminacin de registros invlidos por las clases categricas
df_cat[~df_cat['X4'].isin([0.0])]['X4'].value_counts()

2.0    15781
1.0    13461
3.0      317
0.0        0
Name: X4, dtype: int64

In [88]:
# Quitamos los registros que pertenecen a las clases inexistentes para columna X3
df_cat = df_cat[~df_cat['X4'].isin([0.0])]

In [89]:
# Evaluamos el tamao del conjunto de datos limpiado
len(df_cat)

29559

In [107]:
# Evaluamos la cantidad de filas que seran afectadas por la eliminacin de datos faltantes
print('Se mantiene el ', str((len(df_cat.dropna())/len(df))*100) + '%', ' de los datos')

Se mantiene el  98.66813538954537%  de los datos

Con esto se confirma que el efecto de la tcnica selecionada (eliminacin por lista) es adecuada

Solucin 1:
Eliminar datos faltantes (de resgistros si existe al menos un valor faltante en un valor de cad fila)

In [97]:
# Observamos el efecto en la reduccin de registros que tendra la eliminacin de filas con la condicin de al menos un valor nulo.
len(df_cat.dropna())

29559

Nos percatamos de que las eliminaciones previas son consistentes con la eliminacin por lista, dicindonos que los registros con valores errneos probablemente contenan adems valores nulos.Esto refuerza la teora de que los datos faltantes sean faltas completamenet al azar (MCAR). Con lo que la eliminacin por lista se considera comom la mejor solucin para el presente caso.

In [103]:
# Se eliminan las filas que contienen al menos un slo valor vaco
df_sol_1 = df_cat.dropna()

In [104]:
df_sol_1

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [105]:
df_sol_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29559 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      29559 non-null  int64
 1   X1      29559 non-null  int64
 2   X2      29559 non-null  category
 3   X3      29559 non-null  category
 4   X4      29559 non-null  category
 5   X5      29559 non-null  category
 6   X6      29559 non-null  float64
 7   X7      29559 non-null  float64
 8   X8      29559 non-null  float64
 9   X9      29559 non-null  float64
 10  X10     29559 non-null  float64
 11  X11     29559 non-null  float64
 12  X12     29559 non-null  float64
 13  X13     29559 non-null  float64
 14  X14     29559 non-null  float64
 15  X15     29559 non-null  float64
 16  X16     29559 non-null  float64
 17  X17     29559 non-null  float64
 18  X18     29559 non-null  float64
 19  X19     29559 non-null  float64
 20  X20     29559 non-null  float64
 21  X21     29559 non-null  float64
 22  X22     29559 non-null  float64
 23  X23     29559 non-null  float64
 24  Y       29559 non-null  float64
dtypes: category(4), float64(19), int64(2)
memory usage: 5.1 MB

In [106]:
# Se comprueba que ya no se tienen valores nulos
print(df_sol_1.isna().values.any())

print(df_sol_1.isnull().values.any())

False
False

Solucin 2: Imputar medida de tendencia central

In [56]:
# Imputamos el valor de la mediana 
df_sol_2 = df.fillna(df.median())

La imputacin de valor de la mediana, esta sera adecuada para los valores numricos no categricos ya que a partir de lo observado en el anlisis estadstico del conjunto de datos (df.describe()), se observa que existen valores con un sesgo considerable en los datos, especialmente en las ltimas variables (la mediana es la mitad de la media). De esta manera se evitara un sesgo en los datos. Sin embargo, al ser mnima la cantidad de datso perdidos en relacin al total de los datos se considera como mejor opcin la solucin 1.

## Parte 3: Preparacin de los datos

**Instrucciones:**
Con base en los resultados de tu libreta de Google Colab de la Parte 2 responde detalladamente las siguientes preguntas: 

1. Qu datos considero mas importantes? Por qu?

2. Se eliminaron o reemplazaron datos nulos? Qu se hizo y por qu?

3. Es necesario ordenar los datos para el anlisis? S / No / Por qu?

4. Existen problemas de formato que deban solucionar antes del proceso de modelado? S / No / Por qu.

5. Qu ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?